PHRO7R_1008/PHRO7R_orarend2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <!-- Root element -->
  <xs:element name="PHRO7R_orarend">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ora" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="targy" type="xs:string"/>
              <xs:element name="idopont">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nap" type="NapTipus"/>
                    <xs:element name="tol" type="IdoTipus"/>
                    <xs:element name="ig" type="IdoTipus"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="helyszin" type="xs:string"/>
              <xs:element name="oktato" type="xs:string"/>
              <xs:element name="szak" type="SzakTipus"/>
            </xs:sequence>
            <xs:attribute name="id" type="OraIdTipus" use="required"/>
            <xs:attribute name="tipus" type="OraTipus" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    <!-- Ensure that each 'ora' has a unique @id -->
    <xs:unique name="EgyediOraId">
      <xs:selector xpath="ora"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:element>

  <!-- Types -->
  <!-- ora/@id must look like 'ora_' followed by digits -->
  <xs:simpleType name="OraIdTipus">
    <xs:restriction base="xs:string">
      <xs:pattern value="ora_[0-9]+"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ora/@tipus enumeration -->
  <xs:simpleType name="OraTipus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="eloadas"/>
      <xs:enumeration value="gyakorlat"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Day names (Hungarian) -->
  <xs:simpleType name="NapTipus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Hétfő"/>
      <xs:enumeration value="Kedd"/>
      <xs:enumeration value="Szerda"/>
      <xs:enumeration value="Csütörtök"/>
      <xs:enumeration value="Péntek"/>
      <xs:enumeration value="Szombat"/>
      <xs:enumeration value="Vasárnap"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Time in 24h HH:MM -->
  <xs:simpleType name="IdoTipus">
    <xs:restriction base="xs:string">
      <!-- 00:00 to 23:59 -->
      <xs:pattern value="(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Study program (allow both spellings present in sample) -->
  <xs:simpleType name="SzakTipus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Mérnökinformatikus"/>
      <xs:enumeration value="Mérnökinformatika"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
