PHRO7R_1112/xPathPHRO7R/studentPHRO7R.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="class">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" type="StudentType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="StudentType">
        <xs:sequence>
            <xs:element name="keresztnev" type="xs:string"/>
            <xs:element name="vezeteknev" type="xs:string"/>
            <xs:element name="becenev" type="xs:string"/>
            <xs:element name="kor" type="xs:int"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>

</xs:schema>
